/* Globals and Resets */
* {
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

a {
  color: #000000;
  text-decoration: none;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Container */
.container {
  max-width: 75.625rem;
  margin: auto;
  padding: 1.25rem;
}

/* Header */
.header {
  background-color: #ffffff;
  position: fixed;
  width: 100%;
}
.header__logo {
  color: #335576;
  font-size: 1.125rem;
  font-weight: bold;
}
.header__logo:hover {
  opacity: 80%;
}
.header__logo, .header__nav-link {
  transition: 200ms;
}
.header__nav, .header__nav-list {
  display: flex;
}
.header__nav {
  justify-content: space-between;
}
.header__nav-link {
  font-size: 0.875rem;
  padding-bottom: 0.5rem;
}
.header__nav-link:hover {
  color: #db7a4e;
}
.header__nav-link--active {
  border-bottom: #db7a4e 0.125rem solid;
}
.header__nav-list {
  gap: 1.25rem;
  list-style-type: none;
}
