/* Hero */
.hero {
  background-color: #fefaf5;
  color: #335576;
}
.hero__button {
  background-color: #db7a4e;
  border-radius: 1.25rem;
  color: #fefaf5;
  display: inline-block;
  padding: 0.625rem 2.5rem 0.75rem;
  transition: 200ms;
}
.hero__button:hover {
  background-color: #fefaf5;
  color: #db7a4e;
  outline: #db7a4e 0.125rem solid;
}
.hero__button, .hero__text {
  margin-top: 1.875rem;
}
.hero__container {
  background-image: url("../assets/images/hero.png");
  background-position: right 1.25rem top 5.9375rem;
  background-repeat: no-repeat;
  background-size: 26.5625rem 22.25rem;
  padding: 9rem 1.25rem;
}
.hero__content {
  width: 45%;
}
.hero__heading {
  font-size: 2.25rem;
  font-weight: bold;
}
.hero__text {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

/* Recommendations */
.recommendations {
  padding: 0.9375rem 0 3.75rem 0;
}
.recommendations__card {
  align-items: end;
  background-position: center;
  background-size: cover;
  border-radius: 0.3125rem;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2);
  color: #ffffff;
  justify-content: end;
  height: 23.75rem;
  padding: 1.25rem;
  transition: 200ms;
  width: 15.625rem;
}
.recommendations__card--greece {
  background-image: url("../assets/images/greece.jpg");
}
.recommendations__card--hawaii {
  background-image: url("../assets/images/hawaii.jpg");
}
.recommendations__card--iceland {
  background-image: url("../assets/images/iceland.jpg");
}
.recommendations__card:hover {
  scale: 110%;
}
.recommendations__card, .recommendations__cards {
  display: flex;
}
.recommendations__card, .recommendations__heading {
  font-size: 1.375rem;
  font-weight: bold;
}
.recommendations__cards {
  gap: 2.5rem;
  justify-content: center;
  list-style-type: none;
  margin-top: 1.875rem;
}
.recommendations__heading {
  color: #335576;
}
