// Imports
@use "mixins" as *;
@use "variables" as *;

/* Main Fade In Animation */
@keyframes fadeIn {
  from {
    opacity: 0%;
    transform: translateY(-2rem);
  }
  to {
    opacity: 100%;
    transform: translateY(0);
  }
}

/* Globals and Resets */
* {
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

a {
  color: $black;
  text-decoration: none;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
  animation: 1s fadeIn;
}

ol,
ul {
  list-style-type: none;
}

/* Container */
.container {
  max-width: 75rem;
  margin: auto;
  padding: 0 1.5625rem;
}

/* Header */
.header {
  background-color: $white;
  padding: 1.25rem 0;
  position: fixed;
  width: 100%;
  z-index: 1;

  &__logo {
    color: $blue;
    font-size: 1.125rem;
    font-weight: bold;

    &:hover {
      opacity: 75%;
    }
  }

  &__logo,
  &__nav-link {
    transition: $quick;
  }

  &__nav,
  &__nav-list {
    display: flex;
  }

  &__nav {
    justify-content: space-between;

    @include break4p2 {
      flex-direction: column;
      gap: 1rem;
    }
  }

  &__nav-link {
    font-size: 0.875rem;
    padding-bottom: 0.5rem;

    &:hover {
      color: $sienna;
    }

    &--active {
      border-bottom: $sienna 0.1875rem solid;
    }
  }

  &__nav-list {
    gap: 1.25rem;
    list-style-type: none;
  }
}

/* Footer */
.footer {
  background-color: $powder;
  padding: 2.8125rem 0;

  &__column {
    &--social {
      flex-direction: column;
    }
  }

  &__column--social,
  &__icons {
    justify-content: space-between;
  }

  &__column--social,
  &__icons,
  &__row,
  &__text-row {
    display: flex;
  }

  &__heading {
    color: $blue;
    font-size: 1.375rem;
    font-weight: bold;
  }

  &__icon {
    height: 1.375rem;
  }

  &__icons {
    gap: 1.875rem;

    @include break9 {
      justify-content: start;
      margin-top: 1.5rem;
    }
  }

  &__row {
    gap: 5.9375rem;
    justify-content: center;

    @include break9 {
      flex-direction: column;
    }

    @include break8 {
      gap: 3rem;
    }
  }

  &__subheading {
    color: $sienna;
    font-size: 0.5625rem;
    margin-top: 1.5rem;
    text-transform: uppercase;
  }

  &__text {
    color: $blue;
    display: inline-block;
    font-size: 0.875rem;
    margin-top: 0.625rem;
  }

  &__text-row {
    gap: 1.875rem;

    @include break5 {
      flex-direction: column;
      gap: 0;
    }

    @include break4p2 {
      gap: 0;
    }
  }
}
